app = "peerjs-server"
primary_region = "ams"

[build]

[http_service]
  internal_port = 9000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[http_service.checks]]
  interval = "15s"
  timeout = "10s"
  grace_period = "30s"
  method = "GET"
  path = "/peerjs"

[env]
  PROXIED = "true"
  PEERJS_PATH = "/peerjs"

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1